.site-sidebar {
  &.is-open {
    @include at-query($max, $medium) {
      @include transition(all .3s ease);
      border-bottom: 1px solid $borderColor;
      box-shadow: 0px 1px 3px $borderColor;
      display: block;
      opacity: 1;
      padding-top: 80px;
      visibility: visible;
      z-index: 9;
    }
  }
}
