.icon {
  &-hamburger {
    @include transition(all .3s ease);
    @include vertical-align;
    display: block;
    height: 14px;
    position: relative;
    width: 22px;

    span {
      @include prefixer(transform, rotate(0deg), ms webkit spec);
      @include transition(all .3s ease);
      background: $headerColor;
      border-radius: 2px;
      display: block;
      height: 2px;
      left: 0;
      opacity: 1;
      position: absolute;
      width: 100%;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 50%;
        margin-top: -1px;
      }

      &:nth-child(4) {
        bottom: 0;
      }

    }

  }
}
