.pagination {
  @include clearfix();
  border-top: 1px solid $borderColor;
  font-size: 14px;
  padding-top: 40px;
  text-align: center;
  width: 100%;

  @include at-query($min, $postSmall) {
    font-size: 17px;
  }

  a,
  span {
    display: inline-block;
    padding: 2px 7px;
  }
}
