.product {
  border-radius: 2px;
  padding-bottom: 40px;
  position: relative;
  &:hover {
    .product__name {
      color: $hoverColor;
    }
  }

  @include element(link) {
    @extend %product-link;
  }

  @include element(image) {
    @include transition(all .3s ease);
    border-radius: 2px;
    display: block;
    height: auto;
    width: auto;
    &:hover {
      opacity: .85;
    }
  }

  @include element(name) {
    @extend %product-name;
  }

  @include element(price) {
    @extend %product-price;

    s {
      opacity: .8;
    }
  }

  @include element(status) {
    background: $backgroundColor;
    border-radius: 2px;
    color: $textColor;
    font-size: 10px;
    letter-spacing: .8px;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: 10px;
  }

}
