<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% assign products_per_row = settings.collections_products_per_row %}
{% assign rows = settings.collections_rows %}
{% assign total_products = products_per_row | times: rows %}

{% paginate collection.products by total_products %}

<h1>{{ collection.title }}</h1>

{% case products_per_row %}
  {% when '2' %}
    {% assign grid_item_width = 'small--one-half medium--one-half large--one-half xlarge--one-half' %}
  {% when '3' %}
    {% assign grid_item_width = 'small--one-half medium--one-half large--one-third xlarge--one-third' %}
  {% when '4' %}
    {% assign grid_item_width = 'small--one-half medium--one-half large--one-third xlarge--one-quarter' %}
{% endcase %}

<div class="grid-uniform">
  {% comment %}
    Loop through our products in the current collection.
    See the snippet 'product-grid-item' for the layout.
  {% endcomment %}
  {% for product in collection.products %}

    {% include 'product-grid-item' %}

  {% else %}

    {% if collection.handle == 'all' and current_tags == blank %}

      {% comment %}
        Add default products to help with onboarding for collections/all only
      {% endcomment %}
      {% unless emptyState %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign emptyState = true %}
      {% endunless %}
      {% include 'onboarding-empty-collection' %}

    {% else %}

      {% comment %}
        If collection exists but is empty, display message
      {% endcomment %}
      <div class="grid__item">
        <p class="small--text-center medium--text-center large--text-left xlarge--text-left">{{ 'collections.general.no_matches' | t }}</p>
      </div>

    {% endif %}

  {% endfor %}

</div>

{% if paginate.pages > 1 %}
  <div class="pagination">
    {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
  </div>
{% endif %}

{% endpaginate %}
