// ==========================================================================
// Global Config
// ==========================================================================

// Colors
$backgroundColor: #FFFFFF;
$textColor: #646464;
$linkColor: #717C82;
$hoverColor: #2E2E2E;
$headerColor: #507B96;
$buttonColor: #2B4759;
$secondaryBackground: #F7F7F7;
$borderColor: #E5E5E5;

// Font stacks
$bodyFontStack: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headerFontStack: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Breakpoints and Grid Variables
$viewportIncrement: 1px;

$small: 480px;
$medium: 768px;
$large: 769px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

// The following are dependencies of csswizardry grid
$breakpoints: (
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  'medium-down' '(max-width: #{$medium})',
  'large' '(min-width: #{$large})'
);
$breakpoint-has-widths: ('small', 'medium', 'medium-down', 'large');
$breakpoint-has-push:  ('medium', 'medium-down', 'large');
$breakpoint-has-pull:  ('medium', 'medium-down', 'large');

$gridGutter: 20px; // can be a %, but nested grids will have smaller margins because of it

// The following are dependencies of at-query mixin
$min: min-width;
$max: max-width;
