*, input, :before, :after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $backgroundColor;
  color: $textColor;
  font-family: $bodyFontStack;
  height: 100%;
  line-height: 1;
  padding-bottom: 160px;
  position: relative;

  @include at-query($min, $large) {
    padding-bottom: 120px;
  }
}

a, a:visited {
  @include transition(all .3s ease);
  color: $linkColor;
  text-decoration: none;

  &:hover {
    color: $hoverColor;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $headerColor;
  font-family: $headerFontStack;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  line-height: 1.3em;
  margin-bottom: 15px;
  margin-top: 10px;
  min-height: 52px;
  text-align: center;

  @include at-query($min, $postSmall) {
    margin-bottom: 30px;
  }

  @include at-query($min, $large) {
    font-size: 26px;
    text-align: left;
  }

}

h2 {
  font-size: 18px;
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-size: 14px;
  line-height: 1.7;
  margin: 0 0 20px;
}

ul, ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

input, textarea {
  @include transition(all .3s ease);
  @include x-appearance(none);
  background: $backgroundColor;
  border-radius: 2px;
  border: 1px solid $linkColor;
  color: $linkColor;
  font-family: $bodyFontStack;
  font-size: 14px;
  padding: 8px 10px;

  &:focus {
    border: 1px solid $hoverColor;
    color: $hoverColor;
    outline: none;
  }

}

input {
  height: 50px;
}

button {
  @include transition(all .3s ease);
  border-radius: 2px;
  background-color: $backgroundColor;
  border: 1px solid $buttoColor;
  color: $buttoColor;
  cursor: pointer;
  display: inline-block;
  font-family: $bodyFontStack;
  font-size: 14px;
  height: 50px;
  line-height: 1;
  outline: none;
  padding: 8px 10px;
  text-align: center;

  &:hover, &:focus, &:active {
    background-color: $buttoColor;
    border: 1px solid $buttoColor;
    color: $backgroundColor;
  }
}

select {
  @include transition(all .3s ease);
  @include x-appearance(none);
  background-color: $backgroundColor;
  background: url(#{'{{ "arrow-down.svg" | asset_url }}'}) right 10px center no-repeat;
  background-size: 13px 8px;
  border-radius: 2px;
  border: 1px solid $buttoColor;
  color: $buttoColor;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  outline: 0;
  padding: 8px 30px 8px 10px;
}

// Force option color (affects IE only)
option {
  background-color: #fff;
  color: #000;
}
