.content {
  @include clearfix();
  position: relative;
  padding-bottom: 40px;
  width: 100%;

  @include at-query($min, $large) {
    // ToDo: Add setting for sidebar position
    // float: #{"{% if theme.sidebar_position == 'right' %} left {% else %} right {% endif %}"}
    float: left;
    padding-bottom: 80px;
    max-width: 75%;
  }

}
