.content {
  @include clearfix();
  position: relative;
  padding-bottom: 40px;
  width: 100%;

  @include at-query($min, $postMedium) {
    float: #{"{% if settings.sidebar_position == 'right' %} left {% else %} right {% endif %}"};
    padding-bottom: 80px;
    max-width: 71%;
  }

  @include at-query($min, $postLarge) {
    max-width: 75%;
  }

}
