.site-header {
  background: $secondaryBackground;
  border-bottom: 1px solid $borderColor;
  font-family: $headerFontStack;
  font-size: 28px;
  margin: 0 0 40px;
  // ToDo: Add header_position header
  padding: 100px 15px 40px;
  text-align: #{"{{ settings.header_position }}"};

  @include at-query($min, $postMedium) {
    padding: 80px 0;
  }

  @include modifier(logo) {
    padding: 100px 15px 40px;

    @include at-query($min, $postMedium) {
      padding: 50px 0;
    }
  }

  a {
    color: $headerColor;
    display: inline-block;
    font-size: 30px;

    @include at-query($min, $postSmall) {
      font-size: 34px;
    }

    @include at-query($min, $postMedium) {
      font-size: 42px;
      max-width: 100%;
    }

    img {
      max-height: 250px;
    }
  }

  @include modifier(text) {
    a {
      display: block;
      line-height: 1.2;
      white-space: normal;
      word-wrap: break-word;
    }
  }
}
