.site-sidebar {
  background-color: $backgroundColor;
  height: auto;
  left: 0;
  opacity: 0;
  padding: 0 20px;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;

  @include at-query($min, $postMedium) {
    border-radius: 2px;
    display: block;
    float: #{'{{ settings.sidebar_position }}'};
    opacity: 1;
    padding-bottom: 0;
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: static;
    visibility: visible;
    width: 23%;
  }

  @include at-query($min, $postLarge) {
    width: 20%;
  }

  @include at-query($min, $postXlarge) {
    width: 17%;
  }

}
